<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.fenger.package_manager.package_manager">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>


    <application>

        <provider
            android:name="com.fenger.package_manager.package_manager.FileProvider"
            android:authorities="${applicationId}.fenger.package_manager.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/package_manager_filepaths" />
        </provider>

    </application>

</manifest>
